$light-blue: #eaf7f9;
$main-blue: #0099ff;
$dark-blue: #006dcd;

$light-orange: #ffd9a4;
$main-orange: #feba5b;
$dark-orange: #ffaa32;

$dark-grey: #383b41;
$light-grey: #dbdbdb;
$lighter-grey: #f8f8f8;

$error-red: #ee5d5d;

$active-text: #383b41;
$inactive-text: rgba(181, 183, 185, 0.78);
