@mixin text--display1 {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

@mixin text--headline {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

@mixin text--lead {
  font-size: 24px;
  line-height: 32px;
}

@mixin text--body {
  font-size: 16px;
  line-height: 24px;
}
