@import "../../styles/index.scss";

.navbar__root {
  height: $navbar-height;

  a {
    color: $active-text;
  }
}

.navbar__logo {
  object-fit: contain;
  width: 200px;
}

.navbar__divider {
  position: fixed;
  top: $navbar-height;
  left: 0;
  background: #dfe1e5;
  width: 100vw;
  height: 1.2px;
}

.navbar__user-image {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
