h5 {
  font-weight: bold !important;
  padding-bottom: 15px;
  color: #000;
}

.class-deck {
  padding-bottom: 30px;
}

.card-image {
  height: "160px";
}

.card {
  border: none;
}

.details {
  height: 370px;
  background: #eaf7f9;
  color: #000;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details_course_title {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

.details_course_info {
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.details_course_description {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.icon_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.icon {
  display: grid;
}

.icon p {
  font-size: 14px;
}

.quiz_button {
  background-color: #0099ff;
  border-radius: 4px;
  color: #fff;
  padding: 15px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 18px;
  cursor: pointer;
}

._title {
  padding-top: 40px;
  font-weight: bold;
  padding-bottom: 40px;
}

.span {
  white-space: pre;
}

.requirements {
  border: 1px solid;
  margin-bottom: 20px;
}

.text-icon {
  display: inline-block;
  vertical-align: middle;
  color: #0099ff;
  margin-right: 4px;
}

.text {
  display: inline-block;
  vertical-align: top;
  width: 290px;
}

.body {
  width: max-content;
}
